<div>
    <span>Please fill the form below and submit</span>
    <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
        <label>First name : </label>
        <input type="text" ng-model="fName" style=" border-radius: 4px; height: 25px; width: 14vw;"/>
    </div>
    <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
        <label>Last name : </label>
        <input type="text" ng-model="lName" style=" border-radius: 4px; height: 25px; width: 14vw;"/>
    </div>
    <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
        <label>Phone : </label>
        <input type="number" ng-model="phone" style=" border-radius: 4px; height: 25px; width: 14vw;"/>
    </div>
    <div style=" margin-top: 10px;">
       <!--  <button ng-click="link({'message':'clicked submit'})">Submit</button> -->
        <button ng-click="submit()" style=" width: 7em; height: 28px;">Submit</button>
    </div>
    <div id="Details" ng-show="msgFlag" >
       <span style="color:green;">{{message}}</span>
       <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
            <label>First name : </label>
            <span>{{fName}}</span>
        </div>
        <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
            <label>Last name : </label>
            <span>{{lName}}</span>
        </div>
        <div style=" line-height: 40px; background: rgb(173, 233, 255); width: 30vw; margin: 0 auto; box-shadow: 2px 2px 15px #888888;">
            <label>Phone : </label>
            <span>{{phone}}</span>
        </div>
    </div>
</div>