<div id="headerWrapper" style="background: black none repeat scroll 0% 0%; color: white; text-align: center; line-height: 35px;height: 35px;">
    <div id="bar" class="bar col-xs-1 col-sm-1 col-md-2">
		<i class="fa fa-bars" style="padding: 6px 0; font-size: 1.5em;float: left;" ng-click="navAccess()"></i>
	</div>
	<div class="appName col-xs-1 col-sm-1 col-md-2">
		<span>Demo Housing Loans</span>
	</div>
	<div class="user col-xs-10 col-sm-10 col-md-8">
		<i class="fa fa-user" style="  padding: 6px 0; font-size: 1.5em; float: right;"></i>
	</div>
</div>